body{background-image: url(../img/fondo.jpg);
}


header{
    .imgb {
        margin-top: 8px;
        margin-left: 8px;
    }
    .pce {
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 8px;
        color: white;
   }

}

img{
    background: radial-gradient(rgb(26, 196, 199), rgb(214, 222, 226));
    border: 3px solid rgb(79, 187, 187)
 }
.subtitle{
    margin-top: 50px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


.textoColor{
    color: yellow;
}

div{
    color: aliceblue;
}

.maps{
    margin-left: 250px;
    margin-top: 700px;
}

.pikachu{
    margin-left: 510px;
}

.container-image{
    text-align: center;

    .coli{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .coli:hover{
        transform: scale(1.1);
        transition: all .7s;
    }

    .service:hover{
        color: yellow;
        text-decoration: underline;
    
    }
}



.footer{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 700px;
}   

.footerv{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}  