
body{background-image: url(../img/fondo.jpg);
}



.imgb{ /* check */
    margin-top: 8px;
    margin-left: 8px;
    
}

img{ /* check */
    background: radial-gradient(rgb(26, 196, 199), rgb(214, 222, 226));
    border: 3px solid rgb(79, 187, 187)
 }


.pce{ /* check */
margin-top: 20px;
font-family: 'Times New Roman', Times, serif;
margin-left: 8px;
color: white;
}


.subtitle{ /* check */
    margin-top: 50px;
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.textoColor{ /* check */
    color: yellow;
}


div{ /* check */
    color: aliceblue;
}

.maps{ /* check */
    margin-left: 250px;
    margin-top: 700px;
}

.pikachu{ /* check */
    margin-left: 510px;
}


.container-image{ /* check */
    text-align: center;
}

.coli:hover{ /* check */
    transform: scale(1.1);
    transition: all .7s;
}

.service:hover{ /* check */
    color: yellow;
    text-decoration: underline;

}

.coli{ /* check */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer{ /* check */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 700px;
}   

.footerv{ /* check */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}  








