
body{   background:  linear-gradient(
    to bottom,
    hsl(324, 100%, 0.98%) 0%,
    hsl(218.35, 60.22%, 5%) 8.1%,
    hsl(212.96, 76.51%, 8.79%) 15.5%,
    hsl(211.56, 82.47%, 12.42%) 22.5%,
    hsl(210.95, 85.41%, 15.87%) 29%,
    hsl(210.62, 87.1%, 19.11%) 35.3%,
    hsl(210.41, 88.16%, 22.14%) 41.2%,
    hsl(210.28, 88.86%, 24.94%) 47.1%,
    hsl(210.19, 89.35%, 27.5%) 52.9%,
    hsl(210.13, 89.69%, 29.79%) 58.8%,
    hsl(210.09, 89.95%, 31.81%) 64.7%,
    hsl(210.05, 90.13%, 33.53%) 71%,
    hsl(210.03, 90.26%, 34.92%) 77.5%,
    hsl(210.01, 90.35%, 35.97%) 84.5%,
    hsl(210, 90.41%, 36.63%) 91.9%,
    hsl(210, 90.43%, 36.86%) 100%
  );
};


.imgb{ /* check */
    margin-top: 8px;
    margin-left: 8px;
    
}

img{ /* check */
    background: radial-gradient(rgb(26, 196, 199), rgb(214, 222, 226));
    border: 3px solid rgb(187, 182, 79)
 }

 .subtitle{ /* check */
    margin-bottom: 50px;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.subtitleL{ /* check */
    margin-top: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

.subtitleLa{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.infoP{
    text-align: justify;
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 50px;
}

.infoP1{
    text-align: justify;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 50px;

}

.infoP2{
    text-align: justify;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 50px;

}

.listaS{
    text-align: left;
    margin-left: 60px;
    margin-top: 20px;
}
.bloqueS{
    margin-top: 100px;
}

.pce{ /* check */
margin-top: 20px;
font-family: 'Times New Roman', Times, serif;
margin-left: 8px;
color: white;
}


.textoColor{ /* check */
    color: yellow;
}


div{ /* check */
    color: aliceblue;
}

.maps{ /* check */
    text-align: center;
}

.pikachu{ /* check */
    margin-left: 510px;
}


.container-image{ /* check */
    text-align: center;
}

.coli:hover{ /* check */
    transform: scale(1.1);
    transition: all .7s;
}


.service{
    text-align: center;
    
}
.service:hover{ 
    color: yellow;
    text-decoration: underline;
}

.armadoP{
    margin-top: 200px;
}

.serviceB{
    text-align: center;
    margin-bottom: 100px;
}

.serviceB1{
    text-align: center;
    
}

.coli{ /* check */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer{ /* check */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}   

.footerv{ /* check */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 50px;
}  

.media:hover{
    color: yellow;
    transform: scale(1.2);
    transition: all .7s;
    
    
}

.form-register{ 
    width: 400px;
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    font-size: 22px;
    margin-bottom: 20px
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;

}



.controls{
    width: 100%;
    background-color: rgb(242, 240, 240);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid yellow; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    border-width: 3px;

}


.form-register a{
  color: black;
  text-decoration: none;
}
 .form-register a:hover{
  color: black;
  text-decoration: underline;

}

.form-register .botons{
  width: 100%;
  background: rgb(29, 137, 187);
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}
  


.btn-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
     right: 30px;
    background: rgb(90, 222, 95);
    color: #fff;
    border-radius: 50px;
    text-align: center;
     font-size: 30px;
    box-shadow: 0px 1px 10px rgba(e, 0 ,);
    z-index: 100;
}






